@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-text {
  animation: fadeInSlideUp 5s;
}
@keyframes fadeInSlideUp {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animate-box-1 {
  opacity: 0;
  transform: translateY(160px);
  animation: fadeInSlideUp 1.2s forwards;
}
.animate-box-2 {
  opacity: 0;
  transform: translateY(200px);
  animation: fadeInSlideUp 1.1s forwards;
  animation-delay: 0.08s;
}
.animate-box-3 {
  opacity: 0;
  transform: translateY(240px);
  animation: fadeInSlideUp 1s forwards;
  animation-delay: 0.14s;
}

@keyframes fadeInRotateLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(40px) rotate(0deg);
  }
}
.animate-image-left {
  transform: translateX(-50%) translateY(60px) rotate(20deg);
  animation: fadeInRotateLeft 1s forwards;
}

@keyframes fadeInRotateRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(30px) rotate(-350deg);
  }
}
.animate-image-right {
  transform: translateX(-50%) translateY(80px) rotate(-360deg);
  animation: fadeInRotateRight 1s forwards;
}

@media screen and (max-width: 701px) {
  @keyframes fadeInRotateLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(-60px) translateY(20px) rotate(-0deg);
    }
  }
  .animate-image-left {
    transform: translateX(0) translateY(40px) rotate(20deg);
  }

  @keyframes fadeInRotateRight {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(-120px) translateY(50px) rotate(-350deg);
    }
  }
  .animate-image-right {
    transform: translateX(-50px) translateY(0px) rotate(-360deg);
  }
}

.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

.background-1 {
  opacity: 0;
  background-image: url('https://res.cloudinary.com/useline/image/upload/v1673462209/beem-web/backcolor-bg-1.png');
  background-size: 100%;
  background-position: center 30%;
  filter: blur(20px);
  animation: fadeInSlideUp 1.2s forwards;
  pointer-events: none;
  z-index: 0;
}

.btn + .btn {
  margin-left: 1rem;
}

.hero-image{
  height: 700;
  width: 700
}

@media only screen and (max-width: 600px) {
  .hero-image{
    height: 80vw !important;
    width: 80vw !important;
  }
}